@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.App {
  text-align: center;
}
.scroller {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgb(240, 234, 234,.4) transparent; /* For Firefox */
}

.scroller-spec {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}
.scroller::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.scroller::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

.scroller::-webkit-scrollbar-thumb {
  background-color: red; /* Red thumb */
  border-radius: 10px; /* Optional: rounded corners */
  border: 3px solid transparent; /* Optional: space around the thumb */
  background-clip: content-box; /* Optional: to keep the border effect */
}
.spec1{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
